@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.spacing {
  flex: 1;
  margin-left: 25%;
  margin-top: 20vh;
}

.folder {
  margin-left: 25px;
}

.folder-title {
  cursor: pointer;
  font-weight: bold;
}

.file-name {
  margin: 0;
  padding: 0;
  margin-left: 25px;
}